<html>
<head>
    <title>uxmuun demokraattinen uskonto</title>
    </head>
    <body style="background-color:green;">
        <h1>uxmuun demoktaattinen uskonto</h1>
        <p>liittykää uskontooni</p>
	<p>tämä on paras uskonto</p>
        <h2>liittymis linkki</h2>
        <button onclick="location.href='https://discord.gg/JxkJ96gGbf'" type="button">
         liity</button>
        <h2>säännöt</h2>
    <button onclick="location.href='http://127.0.0.1:5000/rules'" type="button">
         rules</button>
        </body>


</html>