<html>
<head>

</head>
    <title>udu rules</title>




<body style="background-color:green;">
    <h2>rules</h2>
    <ul>
        <li>Totelkaa uxmuuta kaikki muu on democrasattista</li>
        <li>Tää menee sille et se mitä äänestetään nii siihe kaikki uskoo Yksinkertaista</li>
        <li>Voi äänestää ylä tai ala peukuilla jos ylä-peukkuja on enemmän kuin ala-peukkuja niin asia menee läpi</li>
        <li>UXmuuta ei saa kiusata</li>
        <li>täältä ei saa lähteä</li>
        <li>jos lähtee tämä (vara jumaala) syö teidät</li>
        <li>vain uxmuu saa kehua itseään</li>
    </ul>
    <h2>liittymis linkki</h2>
        <button onclick="location.href='https://discord.gg/JxkJ96gGbf'" type="button">
         liity</button>
    <h2>takas</h2>
    <button onclick="location.href='http://127.0.0.1:5000/'" type="button">
         takas</button>


</body>






</html>